#pagewrapper {
    position: relative;
  }
  #container-inner {
    background: transparent !important;
  }
  
  #header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    text-align: 300%;
  }
  #header > .logo > img {
    width: 50px;
    justify-content: start;
    text-align: center;
    display: flex;
  }
  header > .logo > img:hover {
    opacity: 10;
  }
  
  #nav-bar {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    overflow: hidden;
    position: fixed;
    z-index: 50000;
    text-align: right;
    width: 100%;
    text-align: justify;
    /* background-color: pink; */
    opacity: 0.3;
  }
  /*
  #nav-bar:hover {
    opacity: 1;
  } */
  
  .nav-link {
    color: black;
    text-decoration: none;
    margin-top: 0%;
    margin: 70px;
  }
  #features:hover {
    opacity: 1;
  }
  
  .signup-form .form-text {
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 50px;
    font-size: 24px;
    margin-top: 10%;
  }
  
  .signup-form form {
    display: flex;
    justify-content: center;
    place-items: center;
    margin-top: 5%;
  }
  .signup-form input {
    width: 250px;
    padding: 5px;
    position: absolute;
    margin-bottom: 5rem;
  }
  
  .signup-form .cta-button-one {
    display: block;
    color: black;
    background-color: #f1c40f;
    justify-content: center;
    place-items: center;
    font-size: 1.5rem;
    margin-left: 46%;
    margin-top: -1%;
    position: relative;
  }
  
  input[type='submit'] {
    display: block;
  }
  .container {
    display: block;
    color: black;
    justify-content: center;
    place-items: center;
    font-size: 1rem;
    margin-left: 30%;
    margin-top: 5%;
    position: relative;
  }
  .video {
    display: block;
    justify-content: center;
    place-items: center;
    font-size: 1rem;
    margin-left: 30%;
    margin-top: 5%;
    position: relative;
  }
  #pricing {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 5);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    list-style: none;
  }
  .product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  .product > h2 {
    margin-top: 15px;
  }
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
    list-style: none;
  }
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 300;
  }
  
  .product > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  .form-example {
    background-color: #f1c40f;
    display: block;
    justify-content: center;
    place-items: center;
    font-size: 1rem;
    margin-left: -15%;
    margin-top: -1%;
    position: relative;
  }
  
  footer {
    margin-top: 32px;
    background-color: #e6e6d8;
    padding: 21.5px;
    border: 10px solid #e6e6d8;
    margin: 20px;
  }
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  footer > ul > li {
    padding: 0 11px;
    list-style: none;
  }
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
    list-style: none;
  }
  footer > ul > li > a {
    text-decoration: none;
    color: #000;
  }
  @media only screen and (orientation: landscape) {
    body {
      background-color: white;
    }
  }
  
  body {
    background-color: pink;
  }
  
  .nav {
    overflow: hidden;
    background-color: #333;
    height: 48px;
    list-style-type: none;
  }
  
  .nav link a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
  }
  
  .nav link a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  @media (max-width: 800px) {
    #product {
      flex-direction: grid;
    }
  
    @media (max-width: 650px) {
      .video {
        margin-left: 35px;
        z-index: 99999;
      }
      .container {
        margin-left: 10%;
      }
      .form-example {
        margin-left: -40%;
      }
      .product > ol > li {
        margin-left: -40%;
        font-size: 10px;
      }
      #header {
        text-align: center;
        margin-left: 40%;
      }
      #header > .logo > img {
        width: 50px;
        justify-content: start;
        text-align: center;
        display: flex;
      }
      #nav-bar {
        display: flex;
      }
    }
  }
  
  